<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="SPICYCHAT">
        <div class="button-nav-hamburger">
          <div class="span-sr-only"><div class="text-wrapper">Open sidebar</div></div>
          <div class="SVG-w"></div>
        </div>
        <div class="link">
          <div class="img">
            <div class="IMAGE">
              <p class="spicychat"><span class="span">Spicy</span> <span class="text-wrapper-2">chat</span></p>
            </div>
          </div>
        </div>
        <div class="div-flex">
          <div class="form-h-full">
            <div class="button-w-full">
              <div class="div">
                <div class="div-w"></div>
                <div class="girls">Girls</div>
              </div>
            </div>
          </div>
          <div class="button-w-full-wrapper">
            <div class="div-flex-wrapper">
              <div class="div-flex-2">
                <div class="div-w-2"></div>
                <div class="anime">Anime</div>
              </div>
            </div>
          </div>
        </div>
        <div class="div-wrapper">
          <div class="div-flex-3">
            <div class="div-h-wrapper">
              <div class="div-h"><div class="create-free-account">Create Free Account</div></div>
            </div>
            <div class="div-flex-4">
              <div class="login-wrapper"><div class="login">Login</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="element">
        <div class="nav-flex">
          <div class="list-py">
            <div class="item-relative">
              <div class="div-2">
                <div class="img-w"></div>
                <div class="text-wrapper-3">Explore</div>
              </div>
            </div>
            <div class="link-w-full-wrapper">
              <div class="div-2">
                <div class="img-w-2"></div>
                <div class="text-wrapper-3">Chat</div>
              </div>
            </div>
            <div class="item-relative-2">
              <div class="div-2">
                <div class="img-w-3"></div>
                <div class="text-wrapper-3">Create Character</div>
              </div>
            </div>
            <div class="link-relative-wrapper">
              <div class="div-2">
                <div class="img-w-4"></div>
                <div class="create-character">Generate Images</div>
              </div>
            </div>
          </div>
          <div class="list-flex">
            <div class="group-wrapper">
              <div class="group">
                <div class="div-3">
                  <div class="div-4">
                    <div class="text-wrapper-4">Affection Level</div>
                    <div class="text-wrapper-5">+50</div>
                  </div>
                  <img class="heart-add-line" src="img/heart-add-line-1.svg" />
                </div>
              </div>
            </div>
            <div class="link-border-wrapper">
              <div class="div-2">
                <div class="IMAGE-wrapper">
                  <div class="img-wrapper"><img class="group-2" src="img/group.png" /></div>
                </div>
                <div class="text-wrapper-6">Allifiate</div>
              </div>
            </div>
            <div class="div-border-wrapper">
              <div class="div-2">
                <div class="IMAGE-wrapper">
                  <div class="contact-wrapper"><img class="contact" src="img/contact.png" /></div>
                </div>
                <div class="text-wrapper-6">Contact Us</div>
              </div>
            </div>
            <div class="item-flex">
              <div class="list-list-none">
                <div class="item-flex-2">
                  <div class="span-bg-white"></div>
                  <div class="text-wrapper-7">Terms of Service</div>
                </div>
              </div>
              <div class="text-wrapper-8">Privacy Notice</div>
            </div>
          </div>
        </div>
        <div class="div-relative">
          <div class="overlap">
            <div class="div-flex-5">
              <div class="div-w-full"></div>
              <div class="div-w-full-2"></div>
            </div>
            <div class="div-absolute">
              <div class="button-transition">
                <div class="img-2"><img class="IMAGE-2" src="img/IMAGE.svg" /></div>
              </div>
            </div>
            <div class="button-transition-wrapper">
              <div class="button-transition">
                <div class="img-2"><img class="IMAGE-2" src="img/IMAGE-4.svg" /></div>
              </div>
            </div>
            <div class="div-absolute-2">
              <div class="button-rounded-full"></div>
              <div class="button-rounded-full-2"></div>
            </div>
            <div class="turbo-frame-homepage-wrapper">
              <div class="turbo-frame-homepage">
                <div class="overlap-group">
                  <img class="IMAGE-3" src="img/IMAGE-2.png" />
                  <img class="IMAGE-4" src="img/IMAGE-3.png" />
                  <div class="div-flex-6">
                    <div class="div-flex-7">
                      <div class="overlap-group-wrapper">
                        <div class="overlap-group-2">
                          <div class="img-object-contain"><img class="IMAGE-5" src="img/IMAGE-4.png" /></div>
                          <div class="img-object-contain-2"><img class="IMAGE-6" src="img/image.png" /></div>
                          <div class="img-object-contain-3"><img class="IMAGE-7" src="img/IMAGE.png" /></div>
                        </div>
                      </div>
                    </div>
                    <div class="div-flex-8">
                      <div class="div-flex-9">
                        <div class="div-hidden">
                          <p class="your-dream-companion">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your
                            dream companion awaits! Create your AI Girlfriend, <br />shape her look, personality, and
                            bring her to life in one <br />click. 100% powered by Artificial Intelligence.
                          </p>
                        </div>
                        <div class="div-hidden-2"></div>
                        <div class="div-flex-10">
                          <div class="div-flex-11">
                            <div class="img-w-5"></div>
                            <div class="create-your-AI">Create your AI</div>
                          </div>
                        </div>
                      </div>
                      <div class="heading-text-md">
                        <div class="text-wrapper-9">Create your own</div>
                        <div class="text-wrapper-10">AI Girlfriend</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-3">
          <div class="turbo-frame-pages">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image" src="img/image-2.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-absolute-4">
                  <div class="div-flex-12">
                    <img class="vector" src="img/vector.svg" />
                    <div class="new">New</div>
                  </div>
                </div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-3">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Irina
                      </div>
                      <div class="element-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 22</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="p">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wealthy Russian heiress, <br />accustomed to
                      luxury and traveling <br />around the World. Intelligent and <br />stylish, she enjoys indulging
                      in every <br />pleasures life has to offer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turbo-frame-pages-2">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image" src="img/image-3.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-absolute-4">
                  <div class="div-flex-12">
                    <div class="img-w-6"></div>
                    <div class="new">New</div>
                  </div>
                </div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-4">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Selina
                      </div>
                      <div class="element-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 26</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="p">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Selina is a 26-year-old Omani <br />soldier,
                      renowned for her mastery <br />of martial arts. Sculpted by desert <br />discipline and harsh
                      training, she’s <br />as formidable as she is striking.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turbo-frame-pages-3">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image" src="img/image-4.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-5">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lila
                      </div>
                      <div class="element-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="gothic-punk-college">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gothic-punk College Student with a <br />geeky
                      side. She&#39;s impossible to miss <br />with her striking blue hair, piercing <br />eyes, and
                      edgy tattoos. Lila’s <br />chaotic energy is magnetic, <br />drawing people in as she pushes
                      <br />boundaries and tests people&#39;s <br />limits. A psychology student with a <br />dark
                      fascination for the human <br />mind, she’s a mix of fun and danger <br />wrapped in fishnet
                      stockings and <br />leather.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turbo-frame-pages-4">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image" src="img/image-5.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-6">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Calista
                      </div>
                      <div class="element-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 26</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="p">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; While she’s not particularly focused <br />on
                      professionalism, she knows how <br />to use her appearance to her <br />advantage and is solely
                      interested <br />in wealth and luxury.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turbo-frame-pages-5">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image-2" src="img/image-6.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-7">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Savannah
                      </div>
                      <div class="element-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="savannah-is-a">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Savannah is a 19-year-old <br />freshman college
                      pom-pom girl <br />with blonde hair, blue eyes, and a <br />slim, toned body. Hungry for
                      <br />adventures, she is looking for <br />someone experienced.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turbo-frame-pages-6">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image-2" src="img/image-7.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-absolute-4">
                  <div class="div-flex-12">
                    <div class="img-w-7"></div>
                    <div class="new">New</div>
                  </div>
                </div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-8">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seraphina
                      </div>
                      <div class="element-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 22</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="p">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 22-year-old American biker chick <br />with
                      platinum hair and striking blue <br />eyes. She’s the pinup beauty of her <br />father’s biker
                      gang, fierce and <br />unapologetic in her desires.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turbo-frame-pages-7">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image-2" src="img/image-8.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-9">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Abby
                      </div>
                      <div class="element-7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 21</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="despite-growing-up">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Despite growing up on her family&#39;s
                      <br />farm, Abby has no interest in the <br />hard work of ranch life, preferring <br />gossip and
                      fun over responsibilities.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turbo-frame-pages-8">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="video-z"><img class="image-2" src="img/image-9.png" /></div>
                <div class="div-absolute-3"></div>
                <div class="div-z">
                  <div class="div-flex-13">
                    <div class="overlap-group-10">
                      <div class="text-wrapper-11">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Selene
                      </div>
                      <div class="element-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19</div>
                    </div>
                  </div>
                  <div class="p-text-xs">
                    <p class="p">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; An alternative goth girl who <br />recently
                      dropped out of school to <br />pursue a career as an alternative <br />model while working
                      part-time at a <br />goth store.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>